/* NoteMainPage */
.topBar {
    margin-bottom: 10px;
    display: flex;
}

.addNoteButton {
    /* border: seagreen solid 1px; */
    margin-left: 927px;
}

/* NoteEditorPage */

.backButton {
    margin-left: 875px;
}
.noteEditorBar {
    /* border: 1px solid rosybrown; */
    padding: 0 20px;
}

.ql-container {
    height: 350px;
}